
.jumbotron {
	padding-top: 7rem;
	background-color: #C7C7C7;
}
section {
	padding-top: 6rem;
}
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
.jumbotron img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  animation: morph 3.5s linear infinite;
}
.scroll-top-button {
  position: fixed;
  right: 20px;
  top: 1000%;
  bottom: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.scroll-top-button.visible {
  opacity: 1;
  visibility: visible;
}

#galery {
	background-color: #C7C7C7;
}
#contact {
	background-color: #C7C7C7;
}
/* My Games Section */
.games-box {
	position: relative;
	background-color: #000000;
	border-radius: 10px;
	height: 500px;
	transform-style: preserve-3d;

}
.games-box::before {
	content: 'My';
	position: absolute;
	color: #ffffff;
	font-size: 5em;
	font-weight: bold;
	font-style: italic;
	top: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: 0.5s;
}
.games-box:hover::before {
	opacity: 0.2;
}
.games-box::after {
	content: 'Skin';
	position: absolute;
	color: #ffffff;
	font-size: 4.3em;
	font-weight: bold;
	font-style: italic;
	top: 320px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: 0.5s;
}
.games-box:hover::after {
	opacity: 0.2;
}
.games-name {
	position: absolute;
	color: #ffffff;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 2em;
	opacity: 0;
	transform: translate3d(0,0,50px);
	transition: 0.5s;
}
.games-box:hover .games-name {
	top: 20px;
	opacity: 1;
}
.games-detail-button {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 100px);
	opacity: 0;
	transition: 0.5s;
}
.games-box:hover .games-detail-button {
	opacity: 1;
	bottom: 20px;
}
.games-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -52%, 80px);
	max-width: 350px;
	transition: 0.5s;
}
.games-box:hover .games-img {
	transform: translate3d(-50%, -52%, 100%) rotate(5deg) scale(1.2);
}
